In [1]:
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
import numpy as np

In [2]:
df = pd.read_csv("DelayedFlights.csv")
df.head()

,Unnamed: 0,Year,Month,DayofMonth,DayOfWeek,DepTime,CRSDepTime,ArrTime,CRSArrTime,UniqueCarrier,...,TaxiIn,TaxiOut,Cancelled,CancellationCode,Diverted,CarrierDelay,WeatherDelay,NASDelay,SecurityDelay,LateAircraftDelay
0,0,2008,1,3,4,2003.0,1955,2211.0,2225,WN,...,4.0,8.0,0,N,0,NaN,NaN,NaN,NaN,NaN
1,1,2008,1,3,4,754.0,735,1002.0,1000,WN,...,5.0,10.0,0,N,0,NaN,NaN,NaN,NaN,NaN
2,2,2008,1,3,4,628.0,620,804.0,750,WN,...,3.0,17.0,0,N,0,NaN,NaN,NaN,NaN,NaN
3,4,2008,1,3,4,1829.0,1755,1959.0,1925,WN,...,3.0,10.0,0,N,0,2.0,0.0,0.0,0.0,32.0
4,5,2008,1,3,4,1940.0,1915,2121.0,2110,WN,...,4.0,10.0,0,N,0,NaN,NaN,NaN,NaN,NaN

In [3]:
df['AvgSpeed'] = round(df['Distance']/(df['AirTime']/60)) # velocidad media
df['ArrLate'] = df['ArrDelay']>0 # si ha llegado tarde o no
df.head()

,Unnamed: 0,Year,Month,DayofMonth,DayOfWeek,DepTime,CRSDepTime,ArrTime,CRSArrTime,UniqueCarrier,...,Cancelled,CancellationCode,Diverted,CarrierDelay,WeatherDelay,NASDelay,SecurityDelay,LateAircraftDelay,AvgSpeed,ArrLate
0,0,2008,1,3,4,2003.0,1955,2211.0,2225,WN,...,0,N,0,NaN,NaN,NaN,NaN,NaN,419.0,False
1,1,2008,1,3,4,754.0,735,1002.0,1000,WN,...,0,N,0,NaN,NaN,NaN,NaN,NaN,430.0,True
2,2,2008,1,3,4,628.0,620,804.0,750,WN,...,0,N,0,NaN,NaN,NaN,NaN,NaN,407.0,True
3,4,2008,1,3,4,1829.0,1755,1959.0,1925,WN,...,0,N,0,2.0,0.0,0.0,0.0,32.0,401.0,True
4,5,2008,1,3,4,1940.0,1915,2121.0,2110,WN,...,0,N,0,NaN,NaN,NaN,NaN,NaN,474.0,True

In [21]:
df2 = df.groupby("UniqueCarrier").ArrLate.sum("True") # agrupo las aerolineas y sumo los retrasos totales
df2 = df2.sort_values(ascending=False) # ordeno de manera descendente
df2.head(10) # muestro las 10 aerolineas con mas retrasos

UniqueCarrier
WN    324717
AA    172197
MQ    130647
UA    123989
OO    121942
DL    100923
XE     94313
CO     83646
US     83262
EV     75170
Name: ArrLate, dtype: int64

In [23]:
df3 = df["UniqueCarrier"].df["Airtime"]
df3 = df3.sort_values(ascending=False)
df3.head()

AttributeError: 'Series' object has no attribute 'df'